<div class="trip_show"><br>
  <div class="chart">
    <center><h1>Average Cab Fare per Hour</h1></center>

    <%= column_chart [{name: "Avg Price Per Hour", data: HistoricalTrip.group_by_hour_of_day(:tpep_pickup_datetime).average(:total_amount)}], backgroundColor: "transparent" %>
  </div>
</div>