#nite_taxi {
  background-image: url('cab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#bar {
  margin: 0;
}

.content {
  padding: 40px, 20px, 20px, 20px;
}

.trip_show {
  background-image: url('city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.display {
  background-color: white;
  opacity: 0.6;
}

.user_name {
  color: white;
  opacity: 0.7;
}
