.welcome_background {
  background-image: url('cab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#bar {
  margin: 0;
}

.content {
  padding: 40px, 20px, 20px, 20px;
}

.trip_show {
  background-image: url('city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.display {
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  margin-right: 5%;
  width: 26.66%;
}

.first {
  margin-left: 5%;
}

.banner {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.display {
  padding: 10px;
  margin-right: 5%;
  width: 26.66%;
  text-align: center;
}

.centered_text {
  text-align: center;
}

.centered_vertical {
  text-align: center;
  line-height: 400px;
  padding-left: 200px;
}

.user_name {
  color: white;
  opacity: 0.7;
}

.uber_button {
  background-image: url('UBER_API_Button_1x_Black_14px_round.png');
  background-size: cover;
  width: 280px;    
  height: 44px;
  margin: 0 auto;
}

.lyft_button {
  background-image: url('lyft_button.png');
  background-size: cover;
  width: 280px;    
  height: 44px;
  margin: 0 auto;
}

.arro_button {
  background-image: url('arro_button.jpg');
  background-size: cover;
  width: 280px;    
  height: 44px;
  margin: 0 auto;
}

#time {
    text-align: right;
    margin-top: 2%;
    padding-top: 12px;
    padding-right: 14px;
}